.footer {
    display: flex;
    flex: 1;
    padding: 2rem 0;
    border-top: 1px solid #eaeaea;
    align-items: center;
    height: 10vh;
}
  
.heart {
    font-size: 20px;
}

@media (max-width: 600px) {
  
}

@media (prefers-color-scheme: dark) {
    .footer {
        border-color: #222;
    }
}