.home { 
    padding: 10px 0;
}

.description {
    text-align: justify;
    display: flex;
}

.text {
    max-width: 500px;
}

.map {

}

@media (max-width: 600px) {

}

@media (prefers-color-scheme: dark) {
  
}